src2/
build/
build-android32/
build-android64/

test.txt
test.cpp

*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

**/.DS_Store

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

**/build
build-*/

*.sublime-workspace

**/.vscode
.idea/

.cache/

.vs/

/cmake-build-*/
